h1{
  color: red;
  font-style: impact;
  text-align: center;
  text-decoration: underline;
}
p{
  text-align: center;
}
#verify{
  margin-left: 25vw;
  margin-bottom: 10%;
}
#clear{
  margin-left: 25vw;
  margin-bottom: 10%;
}
#canvas{
  margin-left: 35vw;

}
